<div class="btn-container">

    <input type="button" class="btn btn-evaluar" value="Evaluar"></input>
    <input type="button" class="btn btn-ventas" value="Cargar venta"></input>

</div>











