<h3 class="blue-title">
    Cliente
</h3>

<table class="tabla-datos tabla-clientes">
    <thead>
        <tr>
            <th>Cliente</th>
            <th>Zona</th>
            <th>Nombre</th>
            <th>Calle</th>
            <th>Cruces</th>
            <th>Cruces 2</th>
            <th>Whatsapp</th>
            <th>DNI</th>
            <th>Master</th>
            <th>Obs</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="num_cliente">0</td>
            <td class="zona">0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
    </tbody>
</table>