<h3 class="blue-title">
    Master BGM
</h3>
<table class="tabla-datos tabla-fichas tabla_master_bgm">
    <colgroup>
        <col span="3" class="bg-meses">
        <col span="1" class="zona-border bg-meses">
        <col span="1" class="bg-vta">
        <col span="1" class="bg-ant">
        <col span="6" class="bg-meses">
        <col span="1" class="bg-vta">
        <col span="1" class="bg-meses">
        <col span="1" class="bg-vta">
        <col span="1" class="bg-cuota">
        <col span="2" class="bg-adicional_datos">
    </colgroup>
    <thead>
        <tr>
            <th>Mes</th>
            <th>Fecha</th>
            <th>Ficha</th>
            <th>Zona</th>
            <th>VTA</th>
            <th>Atraso</th>
            <th>Anticipo</th>
            <th>Cuota 1</th>
            <th>Cuota 2</th>
            <th>Cuota 3</th>
            <th>Cuota 4</th>
            <th>Cuota 5</th>
            <th>Sal Ant</th>
            <th>Cuota 6</th>
            <th>Sal Act</th>
            <th>Cuota</th>
            <th class="bg-adicional">Cuo</th>
            <th class="bg-adicional">V.U</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td class="zona">0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
       
    </tbody>
</table>