<h3 class="blue-title title-domicilio">
    Domicilio: 
</h3>

<table class="tabla-datos tabla-domicilio">
    <thead>
        <tr>
            <th>Calif</th>
            <th>Nombre</th>
            <th>CTE</th>
            <th>Ficha</th>
            <th>Atraso</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
    </tbody>
</table>