<div class="buscador-disponible-container">

    <div class="busqueda-container">
        <div class="disponible-item disponible-title busqueda-first-title">Cuadro de busqueda</div>
        <div class="disponible-item disponible-title">Dato</div>
        <div class="disponible-item disponible-title">Tipo</div>
        <input class="busqueda-item disponible-title inputtext-cte" type="text"></input>    
        <div class="custom-selectbox">
            <select class="custom-selectbox-select">
              <option value="0">Varios</option>
              <option value="1">Cte</option>
              <option value="2">Dni</option>
              <option value="3">Calle</option>
              <option value="4">Ficha</option>
              <option value="5">Telefono</option>
              <option value="6">Nombre</option>
            </select>
        </div>      
    </div>


    <div class="disponible-container">
        <div class="disponible-item disponible-title disponible-first-title">Ofertas disponibles</div>
        <div class="disponible-item disponible-title">Sabana</div>
        <div class="disponible-item disponible-title">Capital</div>
        <div class="disponible-item disponible-title">Calificacion</div>    
        <div class="disponible-item disponible-bgm disponible-oferta">0</div>
        <div class="disponible-item disponible-ec zona disponible-oferta">0</div>
        <div class="disponible-item disponible-calif disponible-oferta">0</div>
    </div>

    
</div>