<h3 class="blue-title">
    Master EasyCash
</h3>
<table class="tabla-datos tabla-masterec">
    <colgroup>
        <col span="2" class="">
        <col span="1" class="zona-border">
        <col span="1" class="bg-saldo">
        <col span="7" class="">
        <col span="1" class="bg-saldo">
        <col span="1" class="">
        <col span="1" class="bg-saldo">
        <col span="1" class="bg-saldo">
    </colgroup>
    <thead>
        <tr class="prestamos-titles">
            <th>Fecha</th>
            <th>Prest</th>
            <th>Zona</th>
            <th>Capital</th>
            <th>ANT</th>
            <th>Mes</th>
            <th>Mes</th>
            <th>Mes</th>
            <th>Mes</th>
            <th>Mes</th>
            <th>Mes</th>
            <th class="bg-lightgray">Sal.Ant</th>
            <th class="bg-lightgray">Mes</th>
            <th class="bg-lightgray">Sal.Act</th>
            <th>Cuota</th>
            <th>Cuo</th>
            <th class="bg-lightgray">Situacion</th>
            <th class="bg-lightgray">Fecha de Cobro</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>0</td>
            <td>0</td>
            <td class="zona">0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
    </tbody>
</table>