.btn {
    
    color: white;
    font-weight: 500;
    font-size: 1.1em;
    padding: 5px 15px;
    box-shadow: 2px 2px 5px #000;

}
.btn:hover {
    position: relative;
    left: 2px;
    top: 2px;
}

.btn-evaluar{
    border: 2.5px solid #b71c1c;
    background-color: #ef5350;
}
.btn-ventas{
    background-color: #E06000;
}



.btn-container {
    margin: 15px 10px 10px 0px;
}



.buscador-disponible-container {
    height: auto;
    width: auto;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
}

.disponible-container {
    font-weight: 700;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 33%);
    text-align: center;
}

.disponible-first-title {
    grid-column: 1/4;
}

.disponible-title {
    background-color: #366092;
    color: white;
    border-collapse: collapse;
}

.disponible-item {
    
    border: 1px solid black;
    padding: 5px;

}

.disponible-oferta {
    background-color: #F2F2F2;
}
.buscador-disponible-container{
    top: 0;
    z-index: 100;
}

.busqueda-container * {
    box-sizing: border-box;
    border: 1px solid black;
}
.busqueda-container{
    font-weight: 700;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 33%);
    text-align: center;
    border-collapse: collapse;

}

.busqueda-first-title{
    grid-column: 1/3;
} 

.custom-selectbox select{
    
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 1.1em;
    background-color: #F2F2F2;
    outline: none;
}
 .inputtext-cte{
    background-color: #F2F2F2;
    color: #000;
    outline: none;
    padding: 0 0 0 5px;

} 











