

.sidebar {
    right: 0;
    transform: translate(50vw);
    transition: transform .3s;
    position: fixed;
    user-select: none;
    height: 100vh;
    width: calc(50vw + 20px);
    display: flex;
    z-index: 200;
}


.sidebar-contenido {
    background-color: #366092;
    border-left: 1px solid wheat;
    height: 100%;
    right: 0;
    flex-grow: 1;
    overflow: scroll;
    display: flex;
    flex-direction: column;
}

.sidebar-lengueta-container {
    background-color: transparent;
    height: 100%;
    width: 20px;
    padding: 30px 0;
    font-size: 1em;
}

.sidebar-lengueta {
    transform: rotate(90deg);
    cursor: pointer;
}
.sidebar-lengueta span{
    white-space: nowrap;
    background-color: wheat;
}



