.tabla-prestamos, .tabla-masterec{
    background-color: aliceblue;
}

.tabla-prestamos thead *,.tabla-masterec thead *{
    border: 2px solid #D9D9D9;
}
.tabla-prestamos thead * {
    background: #2f5a99;
}

.tabla-prestamos .bg-saldo, .tabla-masterec .bg-saldo{
    background:#ece7e7;
}
.tabla-prestamos thead .bg-lightblue{
    background: #2F75B5 ;  
}

.tabla-prestamos .bg-fecha,.tabla-masterec .bg-fecha{
    background: #9863d4;
}

.tabla-masterec thead{
    background: #525050;
}

.tabla-masterec .bg-lightgray{
    background: #4c645a;
}

.tabla-prestamos .bg-deuda{
    background-color: rgba(94, 73, 170, 0.959);
}

